nav.MuiPagination-root {
  margin: 0px;
}
td.MuiTableCell-body {
  padding: 6px 10px 6px 16px;
  color: #fff;
}
td.MuiTableCell-head {
  padding: 4px 4px 4px 16px;
}
td.makeStyles-secondColumn-44 {
  padding-left: 0;
  padding-right: 0;
  width: 35px;
}